<!DOCTYPE html>
<html>
    <body>
        <h2> Granting Access </h2>
        <form action="/grant_handler" method= "get" name="phone" value="T">
            <p> Please provide the following details</p>
                <p> Your user-name<input type="text" name="fuser" placeholder="From-User"></p></br>
                <p> Username of other person <input type="text" name="tuser" placeholder="To-User"></p></br>
                <input type="checkbox" name="accept_p" value = "T">Accept<br>
                <input type="checkbox" name="reject_p" value = "T">Reject<br>
            </ul>
            <input type="checkbox" name="block" value = "T">Block User<br>
                <input type="submit" value="Send request">
        </ul>
        </form>

    </body>
</html>

