<html>
    <head>
        <title>Registering</title>
    </head>

    <body>
        <form action="/doreg" method="get">
            <input type="text" name="user" placeholder="Username"></br>
            <input type="email" name="email" placeholder="Email-ID"></br>
            <input type="text" name="phone" placeholder="Phone"></br>
            <input type="text" name="msg" placeholder="Diplay Message"></br>
            <input type="text" name="homelo" placeholder="Home longitude"></br>
            <input type="text" name="homela" placeholder="Home latitude"></br>
            <input type="text" name="officelo" placeholder="Office longitude"></br>
            <input type="text" name="officela" placeholder="Office latitude"></br>
            <input type="submit" value="Update">
        </form>
    </body>
</html>
