<!DOCTYPE html>
<html>
    <body>
    <h2> Requesting Access </h2>

        <form action="/re_handler" method= "get">
            <p> Please provide the following details</p>
            <p> Your user-name<input type="text" name="fuser" placeholder="From-User"></p>
            <p> Username of other person <input type="text" name="tuser" placeholder="To-User"> </p>
            <input type="checkbox" name="phone" value="T">Request for Phone Access<br>
            <p>Message for permission<input type="text" name="msg" placeholder="Message"></p>
            <input type="submit" value="Send request">
        </form>

    </body>
</html>

