<!DOCTYPE html>
<html>
    <body>
    <h2> Send Mail </h2>

        <form action="/send_mail" method= "get">
            <p> Please provide the following details</p>
            <!-- <p> From e-mail <input type="text" name="from" placeholder="From"></p> -->
            <p> To e-mail <input type="text" name="to" placeholder="To"></p>
            <p> Subject <input type="text" name="sub" placeholder="Subject"></p>
            <p> Body <input type="text" name="body" placeholder="Body" style="display:block;width:100%;"></p>
            <input type="submit" value="Send Mail">
        </form>

    </body>
</html>

